In [28]:
import numpy as np
import pandas as pd
import json as js

# 1. Reading in the Data:

In [2]:
champions = pd.read_csv("../Data/Champions_Items_Info/riot_champion.csv")

# 2. Filtering the relevant information:
The most crucial information consists of:
- name (champion name)
- key  (key used in the game data files)
- tags (the type of champion)

Name and key are used to match the chamipons, while tags might be useful later on in order to figure out the roles this champion can fill in.

In [52]:
champions = champions[["key", "name", "tags"]]

In [53]:
champions.head()

   key     name                  tags
0  266   Aatrox   ['Fighter', 'Tank']
1  103     Ahri  ['Mage', 'Assassin']
2   84    Akali          ['Assassin']
3   12  Alistar   ['Tank', 'Support']
4   32    Amumu      ['Tank', 'Mage']

In [54]:
champions.dtypes

key     object
name    object
tags    object
dtype: object

# 3. Putting the information into a dictionary:
The keys will be changed to strings, so that they dont throw errors later when writing them to the json file.

In [55]:
champions.astype({"key": "str"})

     key     name                  tags
0    266   Aatrox   ['Fighter', 'Tank']
1    103     Ahri  ['Mage', 'Assassin']
2     84    Akali          ['Assassin']
3     12  Alistar   ['Tank', 'Support']
4     32    Amumu      ['Tank', 'Mage']
..   ...      ...                   ...
143  238      Zed          ['Assassin']
144  115    Ziggs              ['Mage']
145   26   Zilean   ['Support', 'Mage']
146  142      Zoe   ['Mage', 'Support']
147  143     Zyra   ['Mage', 'Support']

[148 rows x 3 columns]

In [56]:
champ_dict = {}

In [57]:
for i in range(len(champions)):
    champ_dict[int(champions.iloc[i][0])]=[champions.iloc[i][1],eval(champions.iloc[i][2])]

# 3.1 Putting the dictionary into a json and a csv file for later use:

In [47]:
with open('../Data/Champions_Items_Info/champions.json', 'w') as f:
    js.dump(champ_dict, f)

In [59]:
champions.to_csv("../Data/Champions_Items_Info/champions.csv", index=False)